* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: clip;
  }

.navbar {
    background: rgb(49,127,188);
    background: linear-gradient(155deg, rgba(49,127,188,1) 0%, rgba(21,39,54,1) 100%);
    height: 110px;
    z-index: 2;
    position: fixed;
    display: block;
  }
  
  .navbar .logo img {
    width: 80px;
    position: absolute;
    align-items: center;
    transform: translateY(-50%);
    left: 2rem;
    transition: all 0.2s;
  }
  
  .navbar {
    position: fixed;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
  }
  
  .navbar .nav-links ul {
    display: flex;
  }
  
  .navbar .nav-links ul li {
    margin: 30px;
    font-size: 1.2rem;
  }
  
  .navbar .nav-links ul li .link {
    font-family: 'PSG', sans-serif;
    transition: 0.3s ease;
    color: #ffffff;
    transition: all 0.2s ease;
  }
  
  .navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 32px;
  }

#menu-hamburger{
    width: 1.5rem;
}

#logo{
    width: 1.5rem;
}

footer{
    background: rgba(21,39,54,1);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
}
footer div{
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 15px;
}
footer div h3{
  color: rgb(170, 170, 170);
}
footer div a{
  color: #fff;
}

@media screen and (max-width:768px) {
    .navbar .logo img {
      position: absolute;
      align-items: center;
      transform: translateY(-50%);
      left: unset;
      right: 2rem;
    }
  
    .nav-links.mobile-menu {
      margin-left: 0px;
      transform: scale(1);
      transition: margin-left 0.4s;
    }
  
    .nav-links {
      position: absolute;
      background-color: rgb(49, 127, 188, 0.8);
      backdrop-filter: blur(5px);
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      margin-left: -100%;
      transition: margin-left 0.4s ease;
    }
  
    .nav-links ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .navbar .nav-links ul li {
      font-size: 1.2rem;
    }
  
    .navbar .menu-hamburger {
      display: block;
      align-items: center;
      transform: translateY(-30%);
    }
  
    .navbar .menu-hamburger:hover {
      cursor: pointer;
    }

    footer .map{
      display: none;
    }
}

@media screen and (max-width:481px) {
    .navbar-footer .nav-links-footer ul li {
      margin: 1rem;
      font-size: 1rem;
    }
}



@media (min-width: 1024px) and (max-width: 1224px){
  footer{
      padding-left: 40px;
      padding-right: 40px;
  }
}

@media (min-width: 1224px) and (max-width: 1424px){
  footer{
      padding-left: 100px;
      padding-right: 100px;
  }
}

@media (min-width: 1424px){
  footer{
      padding-left: 200px;
      padding-right: 200px;
  }
}